services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: cei_db
      POSTGRES_USER: ceiuser
      POSTGRES_PASSWORD: ceipass
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db_data:
